/*////////////// Fonts //////////////*/
@font-face {
	font-family: "Baskerville";
	src: url('../fonts/Baskerville.ttc');
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
	font-family: "Baskerville", serif;
	color: #98ADA6;
	font-size: 80px;
	margin: 0 auto;
}

h2 {
	color: #6F7F7A;
}

div.wrapper img{
	border: 5px solid #98ADA6;
}

div#logos img {
	border: 5px solid #CCCCCC;
}

p{
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

#footer {
	font-size: 0.8em;
	text-align: right;
}

a {
	text-decoration: none;
	color: #1783bb;
}
